@import "tailwindcss";



@layer base {
    html {
        scroll-behavior: smooth;
    }

    /* body {
        background-color: var(--color-background);
        color: var(--color-foreground);
    } */
}